<div class="container">
  <% if @ads.length == 0 %>
    <h1>At this time, there are no current listings.</h1>
    <button><a href="/ads/new">Post to classifieds</a></button>
  <% end %>

  <% if @ads.length > 0 %>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Classifieds</h1>
        </div>
    </div>
      <% @ads.each do |ad| %>
        <div class="col-xs-6 col-md-3 portfolio-item">
            <h4> <%= link_to ad.title, ad %> </h4>
            <p>
              <%= truncate(ad.description, :length => 50) %>
              <% if(ad.description.length > 50) %>
                  <%= link_to 'Read More', ad %>
              <% end %>
            </p>
            <%= image_tag(ad.image, size:"200") %>
        </div>
      <% end %>
  <% end %>

</div>
