<div class="forceFooter">
  <div class="container">
    <h1>About The DogShop</h1>
    <h3>We provide a free online destination</h3>
    <h3>for dog lovers to buy and sell goods and services</h3>
    <h3>we're awesome.</h3>
  </div>
</div>
