
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <body>
    <!-- Header -->
    <header>
       <div class="container">
           <div class="intro-text">
               <div class="intro-lead-in"><%= current_user.name %></div>
               <div class="intro-lead-in">Local resource for dog lovers</div>
               <div class="intro-heading">the dogshop</div>
                <h4>SHOP OR SELL</h4>
               <a href="/ads" class="page-scroll btn btn-xl">See All Listings</a> <a href="/ads/new" class="page-scroll btn btn-xl">Post to Classifieds</a>

               <br></br>
               <h4>Supplies  &  Services</h4>
               <div class="categoryBox">
               <ul class="multiColumn">
                 <% @categories.each do |cat| %>
                   <li><%= link_to cat.name, categorical_path(cat_id: cat.id) %></li>
                 <% end %>
               </ul>
               </div>
               <!-- <h3>It's So Easy to Sell</h3>
               <a href="/ads/new" class="page-scroll btn btn-xl">Post to Classifieds</a> -->
           </div>

     </header>

  </body>
</html>
