<!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; The DogShop Website 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
