<!DOCTYPE html>
<html>
  <head>
    <title>BestFinalProject</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <h2>We are the A team!  Aaron, Latori and Liz</h2> -->
    <%= yield %>
  </body>
</html>
