<!DOCTYPE html>
<html>
  <head>
    <title>BestFinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>We are the A team!  Aarron, Latori and Liz</h2>
    <%= yield %>
  </body>
</html>
