<!DOCTYPE html>
<html>
<head>
	<title>A page with JS</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<h1 id="greeting">Zack is handsome</h1>

	<p id="example">Zack is more handsome than Tom Cruise and Kevin Bacon</p>

	<button type="button">Click Me</button>

	<input id="username"></input>
	<input type="text" class="error"></input>
	<span class="error"></span>

	<a href="https://techtalentsouth.com" target="blank">Tech Talent South</a>

	<ul>
		<li>Zack</li>
		<li>is</li>
		<li>super</li>
		<li>handsome</li>
	</ul>
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<script src="main.js"></script>
</body>
</html>